body{
	text-align: justify;
	margin: 0 auto;
	background-color: black;
	color: white;
	text-underline-position: center;
	text-align:center;
}
p{
	font-size:20px;
	margin:50px !important;
	background-color: #404040;
	color:white;
	border-radius: 20px;
	padding:20px;
}
h1{
	font-size:100px;

}
h2{
	font-size:70px;
}
h3{
	font-size:50px;
}
h4{
	font-size:40px;
}
ul{
	padding:10px;
	font-size:18px;
	background-color: black;
	color:white;
	text-align: center;
	padding:15px
}
li{
	display:inline;
	color:white !important;
	text-align:center;
	padding:0px 80px 0px 80px;
}
@media (max-width:1200px){
	li{
		padding:0px 20px 0px 20px;
	}
	ul{
		font-size: 16px;
	}
}
@media (max-width:800px){
	li{
		padding:0px 15px 0px 15px;
	}
	ul{
		font-size: 14px;
	}
}
@media (max-width:500px){
	li{
		display: block;
	}
	#carousel-caption{
		font-size:20px;
	}
}
.carousel{
	margin-top: -10px;
}
.images{
	scale:0.1;
}